.nav {
	height: 30px;
	background-color: #0e4685;
	border-radius: 8px;
}

.roomTex {
	line-height: 30px;
}

.order {
	margin: 60px 0 0 0;
}

.order>.order_item {
	margin: 30px 0;
}

button {
	float: right;
	width: 100px;
	height: 30px;
	background: #58a71f;
	border: none;
}